.not-found-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90vh;
  padding: 10px;
}
.not-found-img {
  width: 180px;
  height: 160px;
}
.nav {
  text-decoration: none;
}
.page-not-found-head {
  color: #1e293b;
  font-size: 24px;
  font-weight: 600;
  font-family: 'Roboto';
}
.page-not-found-para {
  color: #64748b;
  font-size: 14px;
  font-weight: 600;
  font-family: 'Roboto';
  margin-top: 0px;
}

.not-found-page-btn {
  background-color: #ffa412;
  border: none;
  cursor: pointer;
  outline: none;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 12px;
  text-align: center;
  font-weight: 500;
  border-radius: 10px;
  width: 140px;
  height: 40px;
}
